@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
*{
    box-sizing: border-box;
}

body{
   font-family: 'Roboto', sans-serif;
    margin: 0;

}
html{
    scroll-behavior: smooth;
}
html, body{
    animation: drop 0.8s ease; /* Make things beautiful */
}

p { font-size: 1.25em;}
ul{ list-style: none; }
li{font-size: 1.25em; }
h1{
    margin: 0;
    padding: 10px 15px ;
    font-weight: bold;
    color:  rgb(0, 0, 0);
    font-size: 2.5em;
    
}

header{
    background-color: #ff7f27;

    
}

header .logo{
    margin: 15px;
    padding: 25px 15px ;
    font-weight: bold;
    color:  rgb(255, 255, 255);
    font-size: 3.1em;
    
}
header .containers{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px ;

}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.8em;
}
header a:hover{
    color: rgb(255, 255, 255) ;
}
thead{
    font-family: 'Tilt Warp', cursive;
    font-size: 1.2em;
}
#salir{
    color: #ffce2c;
}
#salir:hover{
    color: rgb(255, 255, 255) ;
}



@media (min-width: 1080px){
    header{
        position: top;
        width: 100%;
        height: auto;
    }
    header .containers{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    #logoimg{
        height: auto;
        width: 85px;
        position: relative;
        right: -12px;
    }
    
}